@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


$bg-color:rgb(37, 36, 36) ; 
* {
    padding: 0;
    margin: 0;
     color:white ; 
}


body {
    background-color:$bg-color ; 
    overflow-x: hidden;
    height:100vh ; 
    width:100vw ; 
}
@mixin flex  {
    display:flex ; 
    justify-content: center;
    align-items:center ; 
}

.header {
    text-align: center;
    margin-top: 2vh ; ;
    big {
        font-size:7vh ; 
    }
    i {
        color:rgb(155, 155, 155) ; 
    }
}


.area__wrapper{
    width:100vw ; 
    @include flex ; 

    .click_area {
        width:70vw ; 
        background-color: black;
        height:30vh ; 
        text-align:center ; 
        @include flex ; 
        color:white ; 
        border:0 ; 
        &:active{
            background-color: white;
        }
    }

}

.panels {
    @include flex ; 
    // width:60vw ; 
    justify-content: space-around;
    margin:5vh 0 ; 
    
}

@mixin panel {
   border:1px solid white ;  
   height:30vh ; 
   width:15vw ; 
}

.panel {
    @include flex ;
    @include panel;
    .num {
        @include flex ;
        flex:2 ; 
        width:100% ; 
        font-size:10vh ; 
        font-family: 'Quicksand', sans-serif;
    }
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .header {
        text-align: center;
        border-bottom:1px solid white ; 
        width:100% ; 
        margin-top: 0vh;
        font-size:2.2vw; 
        // background-color: ;
        font-family: 'Poppins', sans-serif;
        
    }
    .time {
        background: linear-gradient(45deg, #6a11cb , #2575fc) ; 
    }
    .cps{
        background: linear-gradient(45deg, #fc4a1a, #f7b733) ; 
    }
    .clicks{
        background: linear-gradient(45deg, #00b09b, #96c93d) ; 
    }

    
}
